@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
    margin:0;
    padding:0;
    /* overflow: hidden; */
}

.wrapper {
    margin:0;
    padding:10px;
}

.title {
    margin:0;
    width:100%;
    font-family: Libre Franklin;
    color:black;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
}

.menu {
    width: 100%;
    /* padding:5px; */
    min-height:10vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}
.menu-row {
    height:3rem;
    margin: 5px;
    align-self:center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: Hind Guntur;
}

.link:hover {
    color: rgba(7, 100, 7, 0.397);
}

p {
    font-family:ABeeZee;
}

.image {
    width: 100%;
}



@media only screen and (max-width: 400px) {
    .title {
        font-size: 4rem;
    }

    .menu {
        flex-direction: column;
    }
    
    }

    @media only screen and (max-width: 350px) {
        .title {
            font-size: 3rem;
        }
        
        }